<html>
    <head>
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title> Home Page </title>
        <link rel = "stylesheet" href = "../static/css/style1.css">
        <link href = "https://fonts.googleleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel = "stylesheet">
    </head>
    <body>
        <div class = "container">
            <div class="navbar">
                <img src="../static/images/logo2.png" class="logo">
                <nav>
                    <ul class="alink">
                        <li> <a href="home.html"> Home </a></li>
                        <li> <a href="https://www.youtube.com/channel/UCbpIb7eGuCVFPfX6U-6z1Og"> Music </a></li>
                        <li> <a href="https://github.com/aakriti1318"> LinkedIn </a></li>
                        <li> <a href="https://www.linkedin.com/in/aakritiaggarwal13/"> Github </a></li>
                    </ul>
                </nav>
                <img src="../static/images/menu.png" class="menu">
            </div>
            <div class="row">
                <div class="col">
                    <h1> SelfAid </h1>
                    <p> Welcome to the world where you will
                        experience the inner peace and happience. Being in 
                        nature, or even viewing scenes of nature, reduces anger, 
                        fear, and stress and increases pleasant feelings.<br><br> Experience 
                        a virtual nature in your pocket
                        <br><br><b>LET'S START...</b></p>
                        
                </div>
                <div class="col">
                    <div class="card card1"><a href="/stress">
                        <h3>MEASURE STRESS LEVEL</h3>
                    </a>
                    </div>
                    <div class="card card2">
                        <a href = "/breathe"><h3> BREATHE PACER </h3></a>
                    </div>
                    <div class="card card3">
                        <a href = "/ocd"><h3> HAVING OCD? </h3></a>
                    </div>
                    <div class="card card4">
                        <a href = "/book"><h3> BOOK LIBRARY </h3></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>